*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #a09803;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
    font-style: italic;
}

a{
    text-decoration: none;
}

body { 
    background: url(./pexels-adrien-olichon-2387793.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
header ul{
    display: flex;
}

header ul li {
    padding: 5px;
}

.container {
    text-align: center;
}
.name h1 {
    font-size: 50px;
}

.name h5 {
    font-size: 22px;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
}

.form {
    width: 40%;
    margin: 0 auto;
}

.form input {
    width: 50%;
}

.form button { 
    width: 15%;
}